* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-box {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-1 {
  background-image: url(../img/code11.jpg);
}

.hero-2 {
  background-image: url(../img/code22.jpg);
}

.hero-3 {
  background-image: url(../img/code33.jpg);
}

h1 {
  font-size: 100px;
  color: orange;
  text-transform: uppercase;
  /* text-decoration: underline; */
  text-shadow: 2px 2px 4px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
